<ul class="breadcrumb page-title">
  <li><a href="/admin"><i class="fa fa-wrench"></i> Administration</a></li>
  <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
</ul>

<h3 style="margin-bottom: 0">Core Module</h3>

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default btn-block" href="/admin/users" role="button" style="padding: 6px 12px; min-height: 125px; margin-top: 20px; text-align: left; white-space: inherit">
            <h4><i class="fa fa-user fa-fw"></i> Users</h4>
            <p>Manage users, set administration privileges.</p>
        </a>
    </div>
    <div class="col-md-4" style="display: none">
        <a class="btn btn-default btn-block" href="/admin/roles" role="button" style="padding: 6px 12px; min-height: 125px; margin-top: 20px; text-align: left; white-space: inherit">
            <h4><i class="fa fa-suitcase fa-fw"></i> Roles</h4>
            <p></p>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-block" href="/admin/layout" role="button" style="padding: 6px 12px; min-height: 125px; margin-top: 20px; text-align: left; white-space: inherit">
            <h4><i class="fa fa-picture-o fa-fw"></i> Layout</h4>
            <p>Change branding, set company logo, change background and navigation bar colors.</p>
        </a>
    </div>
</div>