<ol class="breadcrumb page-title">
    <li class="active"><i class="fa fa-user"></i> Profile</li>
</ol>

<legend class="collapsable" ng-click="collapseView = !collapseView">
    <span>Change Password</span>
    <i class="fa fa-minus-square-o" ng-show="!collapseView"></i>
    <i class="fa fa-plus-square-o" ng-show="collapseView"></i>
</legend>

<form name="profileForm" class="form-horizontal collapseContent" role="form" novalidate collapse="collapseView">
    <div class="form-group has-feedback">
        <label for="oldPassword" class="col-md-3 control-label">Old Password:</label>
        <div class="col-md-3">
            <input name="oldPassword" class="form-control" type="password" placeholder="The current password." ng-model="oldPassword" required />
            <i class="form-control-feedback"></i>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="newPassword" class="col-md-3 control-label">New Password:</label>
        <div class="col-md-3">
            <input name="newPassword" class="form-control" type="password" placeholder="The new password." ng-model="newPassword" required />
            <i class="form-control-feedback"></i>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="newPasswordAgain" class="col-md-3 control-label">Again:</label>
        <div class="col-md-3">
            <input name="newPasswordAgain" class="form-control" type="password" placeholder="The new password again." ng-model="newPasswordVerification" password-match="newPassword" required" />
            <i class="form-control-feedback"></i>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-3 col-md-6">
            <button type="button" class="btn btn-primary" ng-click="changePassword()" ng-disabled="profileForm.$invalid || saving"><i class="fa fa-spinner fa-spin" ng-show="saving"></i> Change Password</button>
        </div>
    </div>

    <div class="col-md-12">
        <div ng-show="saveSuccess" class="alert alert-success" style="text-align: center">
            <button type="button" class="close" ng-click="saveSuccess = false" aria-hidden="true">&times;</button>
            <span><strong><i class="fa fa-ok"></i> Success!</strong> The password was changed successfully.</span>
        </div>

        <div ng-show="saveError" class="alert alert-danger" style="text-align: center">
            <button type="button" class="close" ng-click="saveError = false" aria-hidden="true">&times;</button>
            <span><strong><i class="fa fa-times"></i> Error!</strong> {{ errorMessage || 'There was a error while changing the password!' }}</span>
        </div>
    </div>

</form>
