<appSettings>
  <clear />
  
  <add key="WebDashboardUrl" value="http://localhost:8070/" />
  <add key="WebServiceUrl" value="http://localhost:8075/" />
    
  
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />

  <add key="ModulesPath" value="../Modules/" />
  <add key="Modules" value="../Modules/EggOn.Websites/bin/" />
</appSettings>