<connectionStrings>
  <clear />

  <add name="EggOnConnection" connectionString="Data Source =tcp:CENAS; Initial Catalog = EggOn_ISEL; Persist Security Info = True; User Id = EggOn_ISEL; Password = EggOn_ISEL; MultipleActiveResultSets = True;" providerName="System.Data.SqlClient" />
</connectionStrings>