<appSettings>
  <clear />
  <add key="WebDashboardUrl" value="http://localhost:8070/" />
  <add key="WebServiceUrl" value="http://localhost:8075/" />

  <add key="RepositoriesPath" value="../../Repositories/"/>

  <add key="TempPath" value="../../Temp/"/>

  <add key="Modules" value="
    ../../Modules/EggOn.Core/bin/Debug/EggOn.Core.dll;
    ../../Modules/EggOn.Data/bin/Debug/EggOn.Data.dll;
    ../../Modules/EggOn.Files/bin/Debug/EggOn.Files.dll
  " />
  
  <add key="AllowUsersToRegister" value="true" />
  <add key="UserEmailValidationRequired" value="false" />

  <add key="SMTPServerHost" value="" />
  <add key="SMTPServerPort" value="" />
  <add key="SMTPEmail" value="" />
  <add key="SMTPUsername" value="" />
  <add key="SMTPPassword" value="" />
</appSettings>