<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="logDirectory" value="${basedir}/logs"/>
  
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="file" fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate} ${pad:padding=-5:${uppercase:${level}}} | ${pad:padding=-30:inner=${whenEmpty:whenEmpty=${literal:text=(no user)}:inner=${aspnet-user-identity}}} | ${message}" />
    <target xsi:type="Debugger" name="debugger"
            layout="${longdate} ${uppercase:${level}} ${whenEmpty:whenEmpty=${literal:text=(no user)}:inner=${aspnet-user-identity}} ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>